{
	debug
	auto_https off # rely on cirno's Caddy proxy
	dynamic_dns {
		provider netlify {env.NETLIFY_TOKEN}
		domains {
			# No need to add more subdomains here. dynamic_dns is just being
			# dumb with how dynamic_domains is handled.
			# https://github.com/mholt/caddy-dynamicdns/blob/master/caddyfile.go#L61
			acmcsuf.com cs306 status q quiz quizler goworkshop go-workshop pomo ics fullyhacksqr
		}
		dynamic_domains
		# AWS doesn't give us IPv6.
		versions ipv4
		# Use cirno's public-facing IP.
		ip_source static {env.CADDY_PUBLIC_IP}
	}
}

cs306.acmcsuf.com {
	log
	respond "Hello from CS306! Brought to you by ACM at CSUF."
}

q.acmcsuf.com,
quiz.acmcsuf.com,
quizler.acmcsuf.com {
	reverse_proxy * http://localhost:37867
}

goworkshop.acmcsuf.com,
go-workshop.acmcsuf.com {
	handle / {
		redir * /acm-go.slide
	}
	handle * {
		reverse_proxy * localhost:38572
	}
}

pomo.acmcsuf.com {
	reverse_proxy * http://localhost:18485
}

status.acmcsuf.com {
	@public_dashboard {
		path /
		header !Cookie # if the Cookie header is missing
	}
	handle @public_dashboard {
		redir * https://status.acmcsuf.com/public-dashboards/6a7d2bd924764b8b91ffdd4aa33fc11b
	}
	handle * {
		reverse_proxy * localhost:38573
	}
}

ics.acmcsuf.com {
	reverse_proxy * unix//run/discord-ical-srv/http.sock
}

netdata.acmcsuf.com {
	reverse_proxy * localhost:19999
}

madness.acmcsuf.com {
	reverse_proxy * localhost:8391
}
