{
	email acmcsufullerton@gmail.com
	acme_dns netlify {env.NETLIFY_TOKEN}
	dynamic_dns {
		provider netlify {env.NETLIFY_TOKEN}
		domains {
			# No need to add more subdomains here. dynamic_dns is just being
			# dumb with how dynamic_domains is handled.
			# https://github.com/mholt/caddy-dynamicdns/blob/master/caddyfile.go#L61
			acmcsuf.com cirno
		}
		dynamic_domains
		# AWS doesn't give us IPv6.
		versions ipv4
	}
}

http:// {
}

cirno.acmcsuf.com {
	respond "cirno: Hello, world!"
	# reverse_proxy * localhost:40001
}

oss.acmcsuf.com {
	reverse_proxy * https://github.com {
		rewrite /acmcsufoss{path}
	}
}

pomo.acmcsuf.com {
	reverse_proxy * http://localhost:18485
}

goworkshop.acmcsuf.com,
go-workshop.acmcsuf.com {
	handle / {
		redir * /acm-go.slide
	}
	handle * {
		reverse_proxy * localhost:38572
	}
}

ics.acmcsuf.com {
	reverse_proxy * unix//run/discord-ical-srv/http.sock
}

q.acmcsuf.com,
quiz.acmcsuf.com,
quizler.acmcsuf.com {
	reverse_proxy * http://localhost:37867
}
