{
	email acmcsufullerton@gmail.com
	acme_dns netlify {env.NETLIFY_TOKEN}
	dynamic_dns {
		provider netlify {env.NETLIFY_TOKEN}
		domains {
			# No need to add more subdomains here. dynamic_dns is just being
			# dumb with how dynamic_domains is handled.
			# https://github.com/mholt/caddy-dynamicdns/blob/master/caddyfile.go#L61
			acmcsuf.com cirno
		}
		dynamic_domains
		# AWS doesn't give us IPv6.
		versions ipv4
	}
}

http:// {
}

cirno.acmcsuf.com {
	respond "cirno: Hello, world!"
	# reverse_proxy * localhost:40001
}

oss.acmcsuf.com {
	reverse_proxy * https://github.com {
		rewrite /acmcsufoss{path}
	}
}

dev.acmcsuf.com {
	vars githubUser acmCSUFDev

	@go_get query go-get=1
	handle @go_get {
		root * /etc/deployment/static
		rewrite * /go-get.html
		file_server
		templates
		header Cache-Control "public, max-age=604800, immutable"
	}

	handle {
		rewrite * /{vars.githubUser}{path}
		reverse_proxy * https://github.com
	}
}

blink.acmcsuf.com {
	handle {
		reverse_proxy * blink.acm.libdb.so {
			header_up Host {upstream_hostport}
		}
	}
}

spookathon.acmcsuf.com {
	reverse_proxy * spookathon.libdb.so {
		header_up Host {upstream_hostport}
	}
}

# Forward all unhandled subdomains to the CS306 server over Tailscale.
#
# This means we won't have to worry about getting a public IP address
# for the server. Note that Tailscale traffic is encrypted, so we don't
# need to worry about MITM attacks.
*.acmcsuf.com,
vps.acmcsuf.com, *.vps.acmcsuf.com {
	reverse_proxy * http://cs306-mini:80
}

blinktest.acmcsuf.com {
	reverse_proxy * unix//run/christmasd-test/http.sock
}

fullyhacksqr.acmcsuf.com {
	reverse_proxy * http://localhost:38574
}
